.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.header {
  background: #fff;
  padding: 12px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.posts {
  display: flex;
  gap: 20px;
}

.title {
  text-align: center;
}
